# JUPYTER NOTEBOOKS

## Relembrando Variáveis

Tipos:
- int()
- str()
- float()
- bool()
- list()
- tuple()
- dict()

In [25]:
numero = 1
nome = 'José'
numero_decimal = 10.9
sera = True
frutas = ['pera', 'morango', 'uva']
carros = ('gol', 'uno', 'fusca')
pessoa = {'nome':'Anderson', 'idade':25, 'altura':1.74}

## Condicionais

- if
- match case

In [26]:
if nome == 'Anderson':
    print(f'Olá, {nome}. O nome está correto!')
else:
    print(f'Olá! O nome que está na variável não é {nome}')

Olá! O nome que está na variável não é José

In [27]:
match numero:
    case 1:
        print('Opção 1')
    case 2:
        print('Opção 2')
    case 3:
        print('Opção 3')
    case 4:
        print('Opção 4')
    case _:
        print('Opção inválida')

Opção 1

## Laços de repetição

- for
- while

In [28]:
for numero in range(5):
    print(f'O número é: {numero}')

O número é: 0
O número é: 1
O número é: 2
O número é: 3
O número é: 4

In [29]:
contador = 0
while contador <= 5:
    print(f'O contador é: {contador}')
    contador += 1

O contador é: 0
O contador é: 1
O contador é: 2
O contador é: 3
O contador é: 4
O contador é: 5

## Metodos de String

- upper
- lower
- captalize
- split
- strip
- slice
- replace
- join

In [30]:
aluno = 'Anderson de Matos Guimarães'
alunos = ['Anderson', 'Adryana']
print(aluno.lower()) # deixa tudo em minúsculo
print(aluno.capitalize()) #deixa a primeira letra em maiúsculo
print(aluno.upper()) # deixa tudo em maiúsculo
print(aluno.strip()) # remove espaços vazios antes e depois
print(aluno.replace('Matos', 'Garcês')) # substitui uma sequência de caracter por outra
print(aluno.split()) # cria uma lista com as palavras encontradas da string
print('$'.join(alunos)) # transforma uma lista em um string com o caracter desejado de separador
print(aluno[8:13]) # corta a string no intervalo de caracteres fornecidos

anderson de matos guimarães
Anderson de matos guimarães
ANDERSON DE MATOS GUIMARÃES
Anderson de Matos Guimarães
Anderson de Garcês Guimarães
['Anderson', 'de', 'Matos', 'Guimarães']
Anderson$Adryana
 de M

## Métodos de lista

- append
- extend
- insert
- remove
- pop
- index
- del
- sort
- reverse

In [31]:
produtos = ['notebook', 'smartphone', 'smart tv']

produtos.append('fliperama')
print(produtos) # adiciona um elemento ao final da lista
produtos.extend(['sofa', 'mesa', 'puff'])
print(produtos) # incrementa a lista com os elementos de outra lista
produtos.insert(3, 'playstation')
print(produtos) # adiciona um elemento em uma posição específica
produtos.pop()
print(produtos) # remove o último elemento da lista
produtos.pop(1)
print(produtos) # remove um elemento específico da lista
produtos.remove('smart tv')
print(produtos) # remove a primeira ocorrência encontrada
produtos.index('notebook')
print(produtos) # retorna o índice da primeira ocorrência encontrada
produtos.sort()
print(produtos) # organiza a lista em ordem crescente
produtos.reverse()
print(produtos) # inverta a lista de trás para frente

['notebook', 'smartphone', 'smart tv', 'fliperama']
['notebook', 'smartphone', 'smart tv', 'fliperama', 'sofa', 'mesa', 'puff']
['notebook', 'smartphone', 'smart tv', 'playstation', 'fliperama', 'sofa', 'mesa', 'puff']
['notebook', 'smartphone', 'smart tv', 'playstation', 'fliperama', 'sofa', 'mesa']
['notebook', 'smart tv', 'playstation', 'fliperama', 'sofa', 'mesa']
['notebook', 'playstation', 'fliperama', 'sofa', 'mesa']
['notebook', 'playstation', 'fliperama', 'sofa', 'mesa']
['fliperama', 'mesa', 'notebook', 'playstation', 'sofa']
['sofa', 'playstation', 'notebook', 'mesa', 'fliperama']

## Funções

São objetos capazes de armazenar um bloco de código e depois podem ser reaproveitados em outro momento do código, somente chamando pelo seu nome.

Tipos:
- função sem retorno
- função com retorno
- função com parâmetros
- função sem parâmetros
- função lambda
- função com múltiplos parâmetros:
    - parâmetros posicionais
    - parâmetros nomeados
- funções recursivas

In [32]:
# Função sem retorno

def saudacao():
    print('Hello, World!')

In [33]:
saudacao()

Hello, World!

In [34]:
# Função com retorno

def somar():
    soma = 10 + 25
    return soma

In [35]:
somar()

35

In [36]:
# Função com parâmetros

def somar2(numero1, numero2):
    soma = numero1 + numero2
    return soma

In [37]:
somar2(4,5)

9

In [38]:
# Função lambda

soma_lambda = lambda numero1, numero2 : numero1 + numero2

In [39]:
soma_lambda(78, 100)

178

In [40]:
# Função com mmúltiplos parâmetros (argumentos) posicionais

def somar3(*numero):
    resultado = sum(numero)
    return resultado

In [41]:
somar3(2, 3, 4, 6)

15

In [42]:
# Função com múltiplos parâmetros nomeados

def gerar_produto(**parametros):
    produto = parametros
    return produto

In [43]:
gerar_produto(nome='notebook', preco=3000.00, fabricante='samsung')

{'nome': 'notebook', 'preco': 3000.0, 'fabricante': 'samsung'}

In [44]:
# Funções fatorial convencional

def calcula_fatorial(numero):
    resultado = 1 
    for i in range(1, numero + 1):
        resultado *= i
    return resultado

In [45]:
calcula_fatorial(5)

120

In [46]:
# Função recursiva (exemplo da fatorial)

def calcula_fatorial2(numero):
    if numero == 0 or numero == 1:
        return 1
    else:
        return numero * calcula_fatorial2(numero-1)

In [47]:
calcula_fatorial2(5)

120