# Biblioteca Pandas com Jupyter Notebooks

In [3]:
# ANY (Qualquer, qualquer coisa)

# Recebe um objeto iterável (um lista, por exemplo) e vai retornar True se existir o elemento (tipo OR)

resposta = any([False, True, False, False, False]) # um único ou mais de um True retorna True
display(resposta)

True

In [4]:
nomes = ('Anderson', '', '', '', '') # um único ou mais de um item preenchido retorna True

resposta = any(nomes)
display(resposta)

True

In [9]:
numeros = [2, 10, 18, 24]


resultado = any(num % 2 == 1 for num in numeros) # verifica se todos os números são ímpares, havendo pelo menos 1, retorna True


display(resultado)

False

In [12]:
tabuleiro = [0,1,2,'b','b','b',6,7,8]
Venceu = False

combinacoes_vitoria = [
    (0,1,2), (3,4,5), (6,7,8), # linhas
    (0,3,6), (1,4,7), (2,5,8), # colunas
    (0,4,8), (2,4,6)           # diagonais
]

resultado = any(tabuleiro[a] == tabuleiro[b] == tabuleiro[c] for a, b, c in combinacoes_vitoria)
'''
for a, b, c in combinacoes_vitoria:
    if tabuleiro[a] == tabuleiro[b] == tabuleiro[c]:
    venceu = True
'''
   
print(resultado)

True

In [19]:
lista_nomes = [
    ['Anderson', 'Lucas', 'Luan'],
    ['Andrea', 'Luca', 'Luana'],
    ['Joana', 'Jorge', 'Jó']
]

print(lista_nomes[1][2])

for nome1, nome2, nome3 in lista_nomes:
    print(nome1, nome2, nome3)

Luana
Anderson Lucas Luan
Andrea Luca Luana
Joana Jorge Jó

In [25]:
# all (todos)

# Recebe um objeto iterável (um lista, por exemplo) e vai retornar True se existirem todos os elementos (tipo AND)

lista = [False, False, False]

resposta = all(lista)

print(resposta)

False

In [31]:
frutas = ['Laranja', 'Morango', 'Uva']

copia_frutas = frutas

print(frutas)
print(copia_frutas)

frutas[0] = 'Toranja'
print(frutas)
print(copia_frutas)

copia_frutas2 = frutas[:]
frutas[0] = 'Laranja'
print(frutas)
print(copia_frutas2)

['Laranja', 'Morango', 'Uva']
['Laranja', 'Morango', 'Uva']
['Toranja', 'Morango', 'Uva']
['Toranja', 'Morango', 'Uva']
['Laranja', 'Morango', 'Uva']
['Toranja', 'Morango', 'Uva']

In [41]:
try:
    numero1 = int(input('Informe o número: '))
    numero2 = int(input('Informe o numero: '))

    print('O resultado é: ', numero1 / numero2)
except ValueError:
    print(ValueError)

Informe o número:  10
Informe o numero:  0

ZeroDivisionError: division by zero